* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto-black';
}

#wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.heder {
    padding: 74px 0;
}

.nav-link:hover {
    color:  #1abc9c;
}

.nav-link {
    color: #0f0101;
}

.mart {
    margin-left: 0px;
}

.section-title::after {
    content: "";
    background-color: #1abc9c;
    display: block;
    height: 7px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 90px;
}

.section-title h2 {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    margin-top: 90px; 
  }

  .section-title2 h2 {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    margin-bottom: auto;
  }

.section-title2::after {
    content: "";
    background-color: #1abc9c;
    display: block;
    height: 7px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 90px;
}

.team-list-lorem {
    font-family: 'Open Sans';
    margin-right: 24px;
    font-size: 18px;
}

 
h2 a {
    margin-top: 15px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    color: #555252;
}

 

h2 ::after {
    content: "";
    background-color: #1abc9c;
    display: block;
    height: 3px;
    width: 135px;
    margin-left: 0;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 30px;
}
 

p {
    font-family: 'Open Sans';
    font-weight: 400;
    margin-right: 24px;
    font-size: 14px;

}

.container_1 {
    max-width: 1145px;
    margin: 0 auto;
    padding: 0 15px;
}

section.team {
    font-family:'OpenSans';

}

.features {
    font-family: 'Roboto';
    font-size: 18px;
    color: #515151;
    list-style: none;
    line-height: 32px;
    text-transform: uppercase;
    display: flex; 

}

.nav {
    line-height: 16px;
    
     
}

.nav-list {
    float: right;
    list-style: none;
    display: inline-flex;
    padding: 5px 0px;
    margin: 0 auto;
    font-family: 'Open sans';
    font-weight: 900;
     
           
}

.nav-item {
    margin-right: 30px;
    text-transform: uppercase;
    font-size: 14px;
        
    
}

.nav-link {
    text-decoration: none;


}
.nav-item:last-child {
    margin-right: 0;
} 

ul.team-list {
     list-style: none;
     padding-left: 0px;
     margin-left: 115px;
     margin-right: 95px;

    
}

.btn1 {
    font-size: 20px;
    line-height: 1;
    padding: 15px 35px;
    color: hsl(0, 0%, 99%);;
    text-decoration: none;
    background: #1abc9c ;
    font-family:'Open Sans';
    font-weight: 300;
       
    
}

.navigation a {
    display: inline-flex;
    vertical-align: middle;
    
 
}

.cena {
    color:wheat;
    background:black;
}

.team-list {
   display: inline-flex;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}
    
.container{
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}
    
.card-list {
    margin: 0 -15px;
    overflow: hidden;

}
    
.card {
    float: left;
    padding: 0 15px;
    margin-bottom: 30px;
    width: 25%;
}
    
    
.card-item:hover .card-footer {
    background: #1abc9c;
}

 
 

.card-img {
    position: relative;
    background: #e9f0fd;

}


.card-footer {
    overflow: hidden;
    color:#fff ;
    background:#323232;
    height:  24px;
     
}
    
.card-name {
    text-transform: uppercase;
    font-family:'Open sans';
    font-weight: 900;
    font-size: 18px;
    padding: 14px;
    
     
    
    
}
    
.card-price {
    float: right;
    background-color: rgba(255,255,255,.5);
    font-family:'Open sans';
    font-weight: 900;
    font-size: 18px;
    
}